main {
    padding-top: 70px;
}

.imagem-home {
    width: 100%;
    height: 600px;
    max-width: 1920px;
}

.position-relative{
    position: relative;
}

.titulo-home{
    position: absolute;
}

.titulo-home h1{
    color: #fff;
    font-size: 150px;
    text-align: center;
    width: 100%;
}

.imagem-home img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recuo {
    margin: 0 30px;
}

.secao-company {
    padding: 50px 0;
    flex-direction: column;
}

.titulo-company h1{
    font-size: 48px;
}

.descricao-company{
    margin: 30px 0;
    width: 700px;
}

.descricao-company p {
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
}

.link-company a {
    padding: 3px 0;
    color: var(--color-default-blue);
    border-bottom: 2px solid #a6a6a6;
}

.section-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.card {
    width: 45%;
    min-width: 350px;
    /* margin: 20px 10px; */
}
.card-imagem {
    position: relative;
}

.card-imagem img {
    width: 100%;
}

.fundo-imagem div {
    position: absolute;
    background-color:var(--color-default-blue);
    height: 99%;
    opacity: 0;
    width: 100%;
    z-index: 1;
}

.icone-seta {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index:10;
    opacity: 0;
    color: #fff;
    font-size: 50px;
}

.card-texto {
    margin: 20px 0;
    height: 85px;
    flex-direction: column;
}

.card-texto h1{
   color: #000;
   font-size: 33px;
   padding: 4px 0;
}

.card-texto p {
    color: #b3b4c0;
}


.load-more {
    margin: 50px 0;
}

.load-more a {
    color: black;
    font-size: 55px;
}

@media screen and (max-width: 883px) {
    .section-display {
        justify-content: center;
    }

    .card {
        width: 70%;
        min-width: 225px;
        padding: 10px 10px;
    }
}

@media screen and (max-width: 850px) {
    .descricao-company {
        width: 100%;
    }
    .card {
        justify-content: center;
    }
}

@media screen and (max-width: 700px) {
    .titulo-home h1{
        font-size: 70px;
    }
    
    .titulo-company h1{
        font-size: 36px;
    }
    
    .descricao-company p {
        font-size: 14px;
    }

    .card-texto h1{
        font-size: 25px;
    }

    .load-more a {
        font-size: 40px;
    }
}

